<div class="navigation">
  <h2 class="blind">site navigation</h2>
  <ul class="navigation__list">
  <!-- [D] 페이지 이동 시 해당 navigation__item에 .is-selected 추가 -->
  <li class="navigation__item is-selected"><a href="#" class="navigation__link"><i class="navigation__icon navigation__icon--home"></i>홈</a></li>
  <li class="navigation__item"><a href="#" class="navigation__link"><i class="navigation__icon navigation__icon--category"></i>카테고리</a></li>
  <li class="navigation__item"><a href="#" class="navigation__link"><i class="navigation__icon navigation__icon--mypage"></i>MY</a></li>
  <li class="navigation__item"><a href="#" class="navigation__link"><i class="navigation__icon navigation__icon--recent"></i>최근본</a></li>
  <li class="navigation__item"><a href="#" class="navigation__link"><i class="navigation__icon navigation__icon--delivery"></i>주문&middot;배송</a></li>
  </ul>
</div>