<div class="gnb">
  <div class="gnb__inner has-after-slide">
    <nav class="js-gnb__swiper">
      <h2 class="blind">global navigation menu</h2>
      <ul class="gnb__list swiper-wrapper">
      <!-- [D] 해당 카테고리 페이지 이동 시 gnb__item에 .is-selected 추가 -->
      <li class="gnb__item swiper-slide is-selected">
        <a href="#" class="gnb__link"><span class="gnb__text-sub">실시간</span>MD추천</a>
      </li>
      <li class="gnb__item swiper-slide">
        <a href="#" class="gnb__link">NEW</a>
      </li>
      <li class="gnb__item swiper-slide">
        <a href="#" class="gnb__link">BEST</a>
      </li>
      <li class="gnb__item swiper-slide">
        <a href="#" class="gnb__link"><span class="gnb__text-sub">특별한 혜택</span>멤버십</a>
      </li>
      <li class="gnb__item swiper-slide">
        <a href="#" class="gnb__link"><span class="gnb__text-sub">Only ONE</span>브랜드</a>
      </li>
      <li class="gnb__item swiper-slide">
        <a href="#" class="gnb__link"><span class="gnb__text-sub">Fredit</span>LIVE</a>
      </li>
      <li class="gnb__item swiper-slide">
        <a href="#" class="gnb__link">REVIEW</a>
      </li>
      <li class="gnb__item swiper-slide">
        <a href="#" class="gnb__link">이벤트</a>
      </li>
      <li class="gnb__item swiper-slide">
        <a href="#" class="gnb__link"><span class="gnb__text-sub">나를 위한</span>정기배송</a>
      </li>
      </ul>
    </nav>
  </div>
</div>