@@include('./include/head.html',{"title": "이벤트 참여 내역 - HYFRESH", "list_title": "이벤트 참여 내역 : Event", "cssFile": "hyfresh"})
<body data-pagestatus="new : 2020.10.20">
@@include('./include/skipnavigation.html')

<div class="wrap wrap-event">
  <!-- header -->
  @@include('./include/header.html',{"type":"detail","title":"이벤트참여내역"})
  <!-- //header -->
  <!-- content -->
  <main id="content" class="content">
    <div class="page-header page-header--has-border">
      <strong class="page-header__title">현재까지 참여하신<br>
        이벤트는 <em class="text-point">3</em>건이에요.</strong>
    </div>
    <div class="events">
      <ul class="event__list event__list--border">
      <li class="event__item">
        <div class="event-grid">
          <a href="#" class="event-grid__link">
            <div class="event-grid__info-top">
              <p class="event-grid__date">이벤트 참여일 :<span class="value">2020.09.23</span></p>
              <!-- 이벤트 종료 : event-grid__state--done -->
              <span class="event-grid__state">진행중</span>
            </div>
            <div class="event-grid__box-image">
              <img src="../img/@tmp/@tmp_event_thumbnail_660x380.jpg" alt="Brand Be Better - 바이탈뷰티 메타그린 슬림&핏" class="event-grid__image">
            </div>
          </a>
          <div class="event-grid__box-info">
            <a href="#" class="event-grid__link">
              <div class="event-grid__info">
                <strong class="event-grid__name">Brand Be Better - 바이탈뷰티 메타그린 슬림&핏</strong>
                <p class="event-grid__duration-time">2020.09.01~2020.09.30</p>
              </div>
            </a>
            <div class="event-grid__box-btn">
              <div class="event-grid__btn event-grid__btn--wish">
                <div class="checkbox__wish">
                  <input type="checkbox" name="wish_list" id="event__wish1" class="inp">
                  <label for="event__wish1" class="label">위시리스트</label>
                </div>
              </div>
              <button type="button" class="event-grid__btn event-grid__btn--share layer-popup-opener" data-layer-target="#share-sns-layer">위시리스트/SNS 공유하기</button>
            </div>
          </div>
        </div>            
      </li>
      <li class="event__item">
        <div class="event-grid">
          <a href="#" class="event-grid__link">
            <div class="event-grid__info-top">
              <p class="event-grid__date">이벤트 참여일 :<span class="value">2020.09.23</span></p>
              <!-- 이벤트 종료 : event-grid__state--done -->
              <span class="event-grid__state event-grid__state--done">종료</span>
            </div>
            <div class="event-grid__box-image">
              <img src="../img/@tmp/@tmp_event_thumbnail_660x380.jpg" alt="Brand Be Better - 바이탈뷰티 메타그린 슬림&핏" class="event-grid__image">
            </div>
          </a>
          <div class="event-grid__box-info">
            <a href="#" class="event-grid__link">
              <div class="event-grid__info">
                <strong class="event-grid__name">Brand Be Better - 바이탈뷰티 메타그린 슬림&핏</strong>
                <p class="event-grid__duration-time">2020.09.01~2020.09.30</p>
              </div>
            </a>
            <div class="event-grid__box-btn">
              <div class="event-grid__btn event-grid__btn--wish">
                <div class="checkbox__wish">
                  <input type="checkbox" name="wish_list" id="event__wish2" class="inp">
                  <label for="event__wish2" class="label">위시리스트</label>
                </div>
              </div>
              <button type="button" class="event-grid__btn event-grid__btn--share layer-popup-opener" data-layer-target="#share-sns-layer">위시리스트/SNS 공유하기</button>
            </div>
          </div>
        </div>            
      </li>
      <li class="event__item">
        <div class="event-grid">
          <a href="#" class="event-grid__link">
            <div class="event-grid__info-top">
              <p class="event-grid__date">이벤트 참여일 :<span class="value">2020.09.23</span></p>
              <!-- 이벤트 종료 : event-grid__state--done -->
              <span class="event-grid__state event-grid__state--done">종료</span>
            </div>
            <div class="event-grid__box-image">
              <img src="../img/@tmp/@tmp_event_thumbnail_660x380.jpg" alt="Brand Be Better - 바이탈뷰티 메타그린 슬림&핏" class="event-grid__image">
            </div>
          </a>
          <div class="event-grid__box-info">
            <a href="#" class="event-grid__link">
              <div class="event-grid__info">
                <strong class="event-grid__name">Brand Be Better - 바이탈뷰티 메타그린 슬림&핏</strong>
                <p class="event-grid__duration-time">2020.09.01~2020.09.30</p>
              </div>
            </a>
            <div class="event-grid__box-btn">
              <div class="event-grid__btn event-grid__btn--wish">
                <div class="checkbox__wish">
                  <input type="checkbox" name="wish_list" id="event__wish3" class="inp">
                  <label for="event__wish3" class="label">위시리스트</label>
                </div>
              </div>
              <button type="button" class="event-grid__btn event-grid__btn--share layer-popup-opener" data-layer-target="#share-sns-layer">위시리스트/SNS 공유하기</button>
            </div>
          </div>
        </div>            
      </li>
      </ul>
    </div>

    <div class="no-data-wrap" style="display:none;">
      <span class="no-data__text">Fredit에서 합리적인 쇼핑을 위해<br>
        야심차게 준비한 다양한 이벤트와 혜택을 만나보세요.</span>
      <div class="no-data__image">
        <img src="../img/mypage/ico_nodata_event.png" alt="">
      </div>
      <a href="#" class="no-data__link">이달의 이벤트 보러가기</a>
    </div>
  </main>
  <!-- //content -->
  <!-- footer -->
@@include('./include/footer.html')
  <!-- //footer -->
</div>
<div class="sticky-wrap">
  <!-- 상단이동버튼 -->
  <a href="#" class="btn-top">페이지 상단으로 이동</a>
</div>
@@include('./include/script.html',{"type":""})
<!-- [D] 마크업 case view. 개발 적용 시 제외 영역 -->
<script>
function showNoData() {
  $('.page-header, .events').hide();
  $('.no-data-wrap').show();
}
</script>
@@include('./include/caseview.html',{
  "item": [
    {
      "text":"위시리스트 등록된 상품 없음",
      "func": "showNoData()"
    }
  ]
})
<!-- //[D] 마크업 case view. 개발 적용 시 제외 영역 -->
</body>
</html>
