.page-brand {
    height: 100%;
    .search {
        margin: 0 20px;
    }
    .no-result {
        padding: {
            top: 84px;
            bottom: 84px;
        };
    }
    .list-result {
        padding: {
            top: 8px;
            bottom: 8px;
        };
    }
}