@@include('./include/head.html',{"title": "Event,체험단,당첨자 - HYFRESH", "list_title": "Event,체험단,당첨자 : Event", "cssFile": "hyfresh"})
<body data-pagestatus="new : 2020.10.07">
@@include('./include/skipnavigation.html')

<div class="wrap wrap-event">
  <!-- header -->
@@include('./include/header.html',{"type":"default"})
  <!-- //header -->
  <!-- gnb -->
@@include('./include/gnb.html')
  <!-- //gnb -->
  <!-- navigation -->
@@include('./include/navigation.html')
  <!-- //navigation -->
  <!-- content -->
  <main id="content" class="content">
    <!-- carousel tab -->
    <div class="carousel-tab js-carousel-tab-wrap">
      <ul class="carousel-tab__list js-carousel-tab-list" role="tablist">
      <li class="carousel-tab__item js-carousel-tab-item">
      <!-- [D] 연결할 컨텐츠의 id와 aria-controls="id" 동일하게 적용(ID 변경 시 참고) -->
      <a href="#" class="carousel-tab__btn js-carousel-tab-btn" role="tab" aria-selected="true" aria-controls="carouselTab01"><span class="text-initial">당첨자</span><span class="text-full">당첨자 발표</span></a>
      </li>
      <li class="carousel-tab__item js-carousel-tab-item">
        <a href="#" class="carousel-tab__btn js-carousel-tab-btn" role="tab" aria-selected="true" aria-controls="carouselTab02"><span class="text-initial">이벤트</span><span class="text-full">이달의 이벤트</span></a>
      </li>
      <li class="carousel-tab__item js-carousel-tab-item">
        <a href="#" class="carousel-tab__btn js-carousel-tab-btn" role="tab" aria-selected="true" aria-controls="carouselTab03"><span class="text-initial">체험단</span><span class="text-full">Fredit 체험단</span></a>
      </li>
      </ul>
      <!-- 당첨자 -->
      <div class="carousel-tab-panel js-carousel-tab-panel" role="tabpanel" id="carouselTab01">
        <ul class="board__list">
        <li class="board__item">
        <a href="#" class="board__link">
          <strong class="title"><span class="type">체험단</span>베베스킨-베리 베리 핸드워시 체험단 당첨자 발표발표발표 발표 발표</strong>
          <span class="date">2020.09.30</span>
        </a>
        </li>
        <li class="board__item">
        <a href="#" class="board__link">
          <strong class="title"><span class="type">이벤트</span>쿠오카-SPECIAL GIFT BOX 당첨자 발표</strong>
          <span class="date">2020.09.30</span>
        </a>
        </li>
        <li class="board__item">
        <a href="#" class="board__link">
          <strong class="title"><span class="type">체험단</span>베베스킨-베리 베리 핸드워시 체험단 당첨자 발표발표발표 발표 발표</strong>
          <span class="date">2020.09.30</span>
        </a>
        </li>
        <li class="board__item">
        <a href="#" class="board__link">
          <strong class="title"><span class="type">이벤트</span>쿠오카-SPECIAL GIFT BOX 당첨자 발표</strong>
          <span class="date">2020.09.30</span>
        </a>
        </li>
        <li class="board__item">
        <a href="#" class="board__link">
          <strong class="title"><span class="type">체험단</span>베베스킨-베리 베리 핸드워시 체험단 당첨자 발표발표발표 발표 발표</strong>
          <span class="date">2020.09.30</span>
        </a>
        </li>
        <li class="board__item">
        <a href="#" class="board__link">
          <strong class="title"><span class="type">이벤트</span>쿠오카-SPECIAL GIFT BOX 당첨자 발표</strong>
          <span class="date">2020.09.30</span>
        </a>
        </li>
        </ul>
      </div>
      <!-- 이벤트 -->
      <div class="carousel-tab-panel js-carousel-tab-panel" role="tabpanel" id="carouselTab02">
        <div class="common-noti">
          <a href="#" class="common-noti__link">
            <p class="text"><em class="text-point">박보검</em>님이 참여하신 이벤트가 <em class="text-point">3개</em> 있어요.<br>이벤트 당첨 확인을 해보세요.</p>
          </a>
        </div>
        <ul class="event__list">
        <li class="event__item">
          <div class="event-grid">
            <a href="#" class="event-grid__link">
              <div class="event-grid__box-image">
                <img src="../img/@tmp/@tmp_event_thumbnail_660x380.jpg" alt="Brand Be Better - 바이탈뷰티 메타그린 슬림&핏" class="event-grid__image">
              </div>
            </a>
            <div class="event-grid__box-info">
              <a href="#" class="event-grid__link">
                <div class="event-grid__info">
                  <strong class="event-grid__name">Brand Be Better - 바이탈뷰티 메타그린 슬림&핏</strong>
                  <p class="event-grid__duration-time">2020.09.01~2020.09.30</p>
                </div>
              </a>
              <div class="event-grid__box-btn">
                <div class="event-grid__btn event-grid__btn--wish">
                  <div class="checkbox__wish">
                    <input type="checkbox" name="wish_list" id="event__wish1" class="inp">
                    <label for="event__wish1" class="label">위시리스트</label>
                  </div>
                </div>
                <button type="button" class="event-grid__btn event-grid__btn--share layer-popup-opener" data-layer-target="#share-sns-layer">위시리스트/SNS 공유하기</button>
              </div>
            </div>
          </div>            
        </li>
        <li class="event__item">
          <div class="event-grid">
            <a href="#" class="event-grid__link">
              <div class="event-grid__box-image">
                <img src="../img/@tmp/@tmp_event_thumbnail_660x380.jpg" alt="Brand Be Better - 바이탈뷰티 메타그린 슬림&핏" class="event-grid__image">
              </div>
            </a>
            <div class="event-grid__box-info">
              <a href="#" class="event-grid__link">
                <div class="event-grid__info">
                  <strong class="event-grid__name">Brand Be Better - 바이탈뷰티 메타그린 슬림&핏</strong>
                  <p class="event-grid__duration-time">2020.09.01~2020.09.30</p>
                </div>
              </a>
              <div class="event-grid__box-btn">
                <div class="event-grid__btn event-grid__btn--wish">
                  <div class="checkbox__wish">
                    <input type="checkbox" name="wish_list" id="event__wish2" class="inp">
                    <label for="event__wish2" class="label">위시리스트</label>
                  </div>
                </div>
                <button type="button" class="event-grid__btn event-grid__btn--share layer-popup-opener" data-layer-target="#share-sns-layer">위시리스트/SNS 공유하기</button>
              </div>
            </div>
          </div>            
        </li>
        </ul>
        <div class="event-coupon">
          <p class="event-coupon__count">이벤트와 관련된 <strong class="num">5개</strong>의 쿠폰이 준비되어 있습니다.</p>
          <ul class="event-coupon__list">
          <li class="event-coupon__item">
            <a href="#" class="event-coupon__link">
              <span class="blind">coupon</span>
              <strong class="value">5%</strong>
            </a>
          </li>
          <li class="event-coupon__item">
            <a href="#" class="event-coupon__link">
              <span class="blind">coupon</span>
              <strong class="value">3종 키트</strong>
            </a>
          </li>
          <li class="event-coupon__item">
            <a href="#" class="event-coupon__link">
              <span class="blind">coupon</span>
              <strong class="value">3,000</strong>
            </a>
          </li>
          <li class="event-coupon__item">
            <a href="#" class="event-coupon__link">
              <span class="blind">coupon</span>
              <strong class="value">10,000</strong>
              <strong class="text-more">+4개</strong>
            </a>
          </li>
          </ul>
        </div>
        <ul class="event__list">
        <li class="event__item">
          <div class="event-grid">
            <a href="#" class="event-grid__link">
              <div class="event-grid__box-image">
                <img src="../img/@tmp/@tmp_event_thumbnail_660x380.jpg" alt="Brand Be Better - 바이탈뷰티 메타그린 슬림&핏" class="event-grid__image">
              </div>
            </a>
            <div class="event-grid__box-info">
              <a href="#" class="event-grid__link">
                <div class="event-grid__info">
                  <strong class="event-grid__name">Brand Be Better - 바이탈뷰티 메타그린 슬림&핏</strong>
                  <p class="event-grid__duration-time">2020.09.01~2020.09.30</p>
                </div>
              </a>
              <div class="event-grid__box-btn">
                <div class="event-grid__btn event-grid__btn--wish">
                  <div class="checkbox__wish">
                    <input type="checkbox" name="wish_list" id="event__wish3" class="inp">
                    <label for="event__wish3" class="label">위시리스트</label>
                  </div>
                </div>
                <button type="button" class="event-grid__btn event-grid__btn--share layer-popup-opener" data-layer-target="#share-sns-layer">위시리스트/SNS 공유하기</button>
              </div>
            </div>
          </div>            
        </li>
        <li class="event__item">
          <div class="event-grid">
            <a href="#" class="event-grid__link">
              <div class="event-grid__box-image">
                <img src="../img/@tmp/@tmp_event_thumbnail_660x380.jpg" alt="Brand Be Better - 바이탈뷰티 메타그린 슬림&핏" class="event-grid__image">
              </div>
            </a>
            <div class="event-grid__box-info">
              <a href="#" class="event-grid__link">
                <div class="event-grid__info">
                  <strong class="event-grid__name">Brand Be Better - 바이탈뷰티 메타그린 슬림&핏</strong>
                  <p class="event-grid__duration-time">2020.09.01~2020.09.30</p>
                </div>
              </a>
              <div class="event-grid__box-btn">
                <div class="event-grid__btn event-grid__btn--wish">
                  <div class="checkbox__wish">
                    <input type="checkbox" name="wish_list" id="event__wish4" class="inp">
                    <label for="event__wish4" class="label">위시리스트</label>
                  </div>
                </div>
                <button type="button" class="event-grid__btn event-grid__btn--share layer-popup-opener" data-layer-target="#share-sns-layer">위시리스트/SNS 공유하기</button>
              </div>
            </div>
          </div>            
        </li>
        </ul>
        <div class="event__box-btn">
          <a href="#" class="event__btn-link"><span class="event__btn-text">종료된 이벤트 더보기</span></a>
        </div>
      </div>
      <!-- 체험단 -->
      <div class="carousel-tab-panel js-carousel-tab-panel" role="tabpanel" id="carouselTab03" style="display:none;">
        <div class="common-noti common-noti--point">
          <a href="#" class="common-noti__link">
            <p class="text text-point">코덕과 뷰티 얼리어답터들을 위한<br><em class="text-bold">특별한 체험 이벤트!</em></p>
            <p class="text">지금 바로 Fredit 체험단이 되어 생생한 리뷰를 들려주세요.</p>
          </a>
        </div>
        <ul class="event__list">
        <li class="event__item">
          <div class="event-grid">
            <a href="#" class="event-grid__link">
              <div class="event-grid__box-image">
                <img src="../img/@tmp/@tmp_event_thumbnail2_660x380.jpg" alt="" class="event-grid__image">
                <!-- 
                  체험신청 : event-grid__badge--apply
                  리뷰작성 : event-grid__badge--write-review
                  신청마감 : event-grid__badge--apply-deadline
                  당첨발표 : event-grid__badge--winning
                  체험종료 : event-grid__badge--end
                  -->
                <span class="event-grid__badge event-grid__badge--apply">체험신청</span>
              </div>
              <div class="event-grid__box-info event-grid__box-info--apply-exp">
                <div class="event-grid__info">
                  <strong class="event-grid__name">[베베스킨] 베리 베리 핸드워시 체험단 모집</strong>
                  <p class="event-grid__deadline"><span>마감일자.</span> 2020.09.30 23:59까지</p>
                  <p class="event-grid__recruitment-applicants"><span>모집인원. 200명</span> / 신청인원. 300명</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li class="event__item">
          <div class="event-grid">
            <a href="#" class="event-grid__link">
              <div class="event-grid__box-image">
                <img src="../img/@tmp/@tmp_event_thumbnail2_660x380.jpg" alt="" class="event-grid__image">
                <span class="event-grid__badge event-grid__badge--write-review">리뷰작성</span>
              </div>
              <div class="event-grid__box-info">
                <div class="event-grid__info">
                  <strong class="event-grid__name">[베베스킨] 베리 베리 핸드워시 체험단 모집</strong>
                  <p class="event-grid__deadline"><span>마감일자.</span> 2020.09.30 23:59까지</p>
                  <p class="event-grid__recruitment-applicants"><span>모집인원. 200명</span> / 신청인원. 300명</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        </ul>
        <div class="event-review__area">
          <p class="event-review__tag"><em class="tag">#Kuoca #수분개선크림 #스킨케어 #난소중하니까</em> 에 관심있는 <em class="num">37명</em>이  리뷰를 남겨주셨습니다.</p>
          <ul class="event-review__list">
          <li class="event-review__item">
            <a href="#" class="event-review__link">
              <div class="event-review__box-image">
                <img src="../img/@tmp/@tmp_event_review_thumbnail_156x156.jpg" alt="체험단 리뷰 이미지">
              </div>
            </a>
          </li>
          <li class="event-review__item">
            <a href="#" class="event-review__link">
              <div class="event-review__box-image">
                <img src="../img/@tmp/@tmp_event_review_thumbnail_156x156.jpg" alt="체험단 리뷰 이미지">
              </div>
            </a>
          </li>
          <li class="event-review__item">
            <a href="#" class="event-review__link">
              <div class="event-review__box-image">
                <img src="../img/@tmp/@tmp_event_review_thumbnail_156x156.jpg" alt="체험단 리뷰 이미지">
              </div>
            </a>
          </li>
          <li class="event-review__item">
            <a href="#" class="event-review__link">
              <div class="event-review__box-image">
                <img src="../img/@tmp/@tmp_event_review_thumbnail_156x156.jpg" alt="체험단 리뷰 이미지">
                <strong class="event-review__greater-four">
                  <span>+34개</span>
                </strong>
              </div>
            </a>
          </li>
          </ul>
        </div>
        <ul class="event__list">
        <li class="event__item">
          <div class="event-grid">
            <a href="#" class="event-grid__link">
              <div class="event-grid__box-image">
                <img src="../img/@tmp/@tmp_event_thumbnail2_660x380.jpg" alt="" class="event-grid__image">
                <span class="event-grid__badge event-grid__badge--apply-deadline">신청마감</span>
              </div>
              <div class="event-grid__box-info">
                <div class="event-grid__info">
                  <strong class="event-grid__name">[베베스킨] 베리 베리 핸드워시 체험단 모집</strong>
                  <p class="event-grid__deadline"><span>마감일자.</span> 2020.09.30 23:59까지</p>
                  <p class="event-grid__recruitment-applicants"><span>모집인원. 200명</span> / 신청인원. 300명</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li class="event__item">
          <div class="event-grid">
            <a href="#" class="event-grid__link">
              <div class="event-grid__box-image">
                <img src="../img/@tmp/@tmp_event_thumbnail2_660x380.jpg" alt="" class="event-grid__image">
                <span class="event-grid__badge event-grid__badge--winning">당첨발표</span>
              </div>
              <div class="event-grid__box-info">
                <div class="event-grid__info">
                  <strong class="event-grid__name">[베베스킨] 베리 베리 핸드워시 체험단 모집</strong>
                  <p class="event-grid__deadline"><span>마감일자.</span> 2020.09.30 23:59까지</p>
                  <p class="event-grid__recruitment-applicants"><span>모집인원. 200명</span> / 신청인원. 300명</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li class="event__item">
          <div class="event-grid">
            <a href="#" class="event-grid__link">
              <div class="event-grid__box-image">
                <img src="../img/@tmp/@tmp_event_thumbnail2_660x380.jpg" alt="" class="event-grid__image">
                <span class="event-grid__badge event-grid__badge--end">체험종료</span>
              </div>
              <div class="event-grid__box-info">
                <div class="event-grid__info">
                  <strong class="event-grid__name">[베베스킨] 베리 베리 핸드워시 체험단 모집</strong>
                  <p class="event-grid__deadline"><span>마감일자.</span> 2020.09.30 23:59까지</p>
                  <p class="event-grid__recruitment-applicants"><span>모집인원. 200명</span> / 신청인원. 300명</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        </ul>
      </div>
    </div>
    <!-- //carousel tab -->
  </main>
  <!-- //content -->
  <!-- footer -->
@@include('./include/footer.html')
  <!-- //footer -->
</div>
<div class="sticky-wrap">
  <!-- 상단이동버튼 -->
  <a href="#" class="btn-top">페이지 상단으로 이동</a>
</div>

<!-- [D] Layer popup : sns 공유 -->
<div class="common-layer share-sns-layer" id="share-sns-layer" style="display:none;">
  <div class="common-layer__dimmed"></div>
  <div class="common-layer__wrapper">
    <div class="common-layer__inner" role="dialog">
      <div class="common-layer__header">
        <h1 class="blind">sns 공유</h1>
      </div>
      <div class="common-layer__content">
        <div class="share-sns">
          <strong class="share-sns__title"><em class="text-semi-point">Fredit만의 특별함</em>을 <em class="text-point">SNS</em>에 <em class="text-point">공유</em>해보세요.</strong>
          <ul class="share-sns__list">
          <li class="share-sns__item">
            <button type="button" class="share-sns__btn share-sns__btn--facebook"><span class="blind">페이스북</span></button>
          </li>
          <li class="share-sns__item">
            <button type="button" class="share-sns__btn share-sns__btn--twitter"><span class="blind">트위터</span></button>
          </li>
          <li class="share-sns__item">
            <button type="button" class="share-sns__btn share-sns__btn--kakaotalk"><span class="blind">카카오톡</span></button>
          </li>
          <li class="share-sns__item">
            <button type="button" class="share-sns__btn share-sns__btn--copy">URL<br>복사</button>
          </li>
          </ul>
        </div>
      </div>
      <div class="common-layer__box-btn-close">
        <button type="button" class="common-layer__btn-close">팝업 닫기</button>
      </div>
    </div>
  </div>
</div>
@@include('./include/script.html',{"type":""})
</body>
</html>
