@@include('./include/head.html',{"title": "위시리스트 - HYFRESH", "list_title": "위시리스트 : mypage", "cssFile": "hyfresh"})
<body data-pagestatus="new : 2020.10.20">
@@include('./include/skipnavigation.html')

<div class="wrap wrap-wish">
  <!-- header -->
@@include('./include/header.html',{"type":"detail","title":"위시리스트"})
  <!-- //header -->
  <!-- content -->
  <main id="content" class="content">
    <div class="page-header page-header--has-border">
      <strong class="page-header__title">위시리스트에<br><em class="text-point">23</em>개의 상품이 담겨 있어요.</strong>
    </div>
    <div class="products">
      <div class="products__head">
        <span class="products__count">총 38개</span>
        <div class="products__control">
          <button type="button" class="products__control-btn products__control-btn--delete">전체삭제</button>
        </div>
      </div>
      <ul class="products__list products__list--typeb products__list--wish">
      <li class="products__item">
        <div class="product-grid">
          <a href="#" class="product-grid__link">
            <!-- [D] FOOD몰 상품일 경우 -->
            <span class="mall-badge mall-badge--food">Food</span>
          <div class="product-grid__box-image">
            <img src="../img/@tmp/@tmp_product.jpg" alt="불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml">
          </div>
          </a>
          <a href="#" class="product-grid__link">
          <div class="product-grid__box-info">
            <strong class="product-grid__brand-name">아이소이</strong>
            <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
            <div class="product-grid__price-box">
            <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
            <del class="product-grid__origin-price">
              <span class="num">23,000<span class="unit">원</span></span>
            </del>
            </div>
          </div>
          </a>
          <div class="product-grid__box-btn">
            <div class="product-grid__btn product-grid__btn--wish">
              <div class="checkbox__wish">
              <input type="checkbox" name="wish_list" id="product__wish1" class="inp">
              <label for="product__wish1" class="label">위시리스트</label>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="product-grid">
          <a href="#" class="product-grid__link">
            <!-- [D] LIFE몰 상품일 경우 -->
            <span class="mall-badge mall-badge--life">Life</span>
          <div class="product-grid__box-image">
            <img src="../img/@tmp/@tmp_product.jpg" alt="불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml">
          </div>
          </a>
          <a href="#" class="product-grid__link">
          <div class="product-grid__box-info">
            <strong class="product-grid__brand-name">아이소이</strong>
            <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
            <div class="product-grid__price-box">
            <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
            <del class="product-grid__origin-price">
              <span class="num">23,000<span class="unit">원</span></span>
            </del>
            </div>
          </div>
          </a>
          <div class="product-grid__box-btn">
            <div class="product-grid__btn product-grid__btn--wish">
              <div class="checkbox__wish">
              <input type="checkbox" name="wish_list" id="product__wish2" class="inp">
              <label for="product__wish2" class="label">위시리스트</label>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="product-grid">
          <a href="#" class="product-grid__link">
            <span class="mall-badge mall-badge--food">Food</span>
          <div class="product-grid__box-image">
            <img src="../img/@tmp/@tmp_product.jpg" alt="불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml">
          </div>
          </a>
          <a href="#" class="product-grid__link">
          <div class="product-grid__box-info">
            <strong class="product-grid__brand-name">아이소이</strong>
            <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
            <div class="product-grid__price-box">
            <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
            <del class="product-grid__origin-price">
              <span class="num">23,000<span class="unit">원</span></span>
            </del>
            </div>
          </div>
          </a>
          <div class="product-grid__box-btn">
            <div class="product-grid__btn product-grid__btn--wish">
              <div class="checkbox__wish">
              <input type="checkbox" name="wish_list" id="product__wish3" class="inp">
              <label for="product__wish3" class="label">위시리스트</label>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="product-grid">
          <a href="#" class="product-grid__link">
            <span class="mall-badge mall-badge--food">Food</span>
          <div class="product-grid__box-image">
            <img src="../img/@tmp/@tmp_product.jpg" alt="불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml">
          </div>
          </a>
          <a href="#" class="product-grid__link">
          <div class="product-grid__box-info">
            <strong class="product-grid__brand-name">아이소이</strong>
            <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
            <div class="product-grid__price-box">
            <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
            <del class="product-grid__origin-price">
              <span class="num">23,000<span class="unit">원</span></span>
            </del>
            </div>
          </div>
          </a>
          <div class="product-grid__box-btn">
            <div class="product-grid__btn product-grid__btn--wish">
              <div class="checkbox__wish">
              <input type="checkbox" name="wish_list" id="product__wish4" class="inp">
              <label for="product__wish4" class="label">위시리스트</label>
              </div>
            </div>
          </div>
        </div>
      </li>
      </ul>
    </div>
    <div class="no-data-wrap" style="display:none;">
      <span class="no-data__text">위시리스트에 등록된 상품이 없습니다.</span>
      <div class="no-data__image">
        <img src="../img/mypage/ico_nodata_wish.png" alt="">
      </div>
      <a href="#" class="no-data__link">지금 바로 쇼핑하러 가기</a>
    </div>
  </main>
  <!-- //content -->
  <!-- footer -->
@@include('./include/footer.html')
  <!-- //footer -->
</div>
<div class="sticky-wrap">
  <!-- 상단이동버튼 -->
  <a href="#" class="btn-top">페이지 상단으로 이동</a>
</div>
@@include('./include/script.html',{"type":""})
<!-- [D] 마크업 case view. 개발 적용 시 제외 영역 -->
<script>
  function showNoData() {
    $('.page-header, .products').hide();
    $('.no-data-wrap').show();
  }
  </script>
  @@include('./include/caseview.html',{
    "item": [
      {
        "text":"위시리스트 등록된 상품 없음",
        "func": "showNoData()"
      }
    ]
  })
  <!-- //[D] 마크업 case view. 개발 적용 시 제외 영역 -->
</body>
</html>
