<footer class="footer">
  <div class="footer__inner">
    <h2 class="blind">footer</h2>
    <div class="footer-util">
      <ul class="footer-util__list">
      <li class="footer-util__item"><a href="#" class="footer-util__link">입점 브랜드 소개</a></li>
      <li class="footer-util__item"><a href="#" class="footer-util__link">Fact Check <small class="footer-util__text-sub">(인증서)</small></a></li>
      <li class="footer-util__item"><a href="#" class="footer-util__link">멤버십</a></li>
      <li class="footer-util__item"><a href="#" class="footer-util__link">고객센터</a></li>
      <li class="footer-util__item"><a href="#" class="footer-util__link">회사소개</a></li>
      </ul>
      <ul class="footer-sns__list">
      <li class="footer-sns__item"><a href="#" class="footer-sns__link footer-sns__link--facebook">페이스북</a></li>
      <li class="footer-sns__item"><a href="#" class="footer-sns__link footer-sns__link--youtube">유튜브</a></li>
      <li class="footer-sns__item"><a href="#" class="footer-sns__link footer-sns__link--twitter">트위터</a></li>
      <li class="footer-sns__item"><a href="#" class="footer-sns__link footer-sns__link--tistory">티스토리</a></li>
      </ul>
      <ul class="footer-terms__list">
      <li class="footer-terms__item"><a href="#" class="footer-terms__link">이용약관.</a></li>
      <li class="footer-terms__item"><a href="#" class="footer-terms__link">개인정보처리방침.</a></li>
      <li class="footer-terms__item footer-terms__item--cs"><a href="tel:1577-3661" class="footer-terms__link">고객상담.<span class="footer-terms__text-point">1577-3561</span></a></li>
      </ul>
    </div>
    <div class="footer-info">
      <dl class="footer-info__list">
      <dt class="footer-info__title">상호명.</dt>
      <dd class="footer-info__desc">㈜한국야쿠르트</dd>
      <dt class="footer-info__title">대표이사.</dt>
      <dd class="footer-info__desc">김병진</dd>
      <dt class="footer-info__title">주소.</dt>
      <dd class="footer-info__desc">서울특별시 서초구 강남대로 577</dd>
      <dt class="footer-info__title">이메일.</dt>
      <dd class="footer-info__desc"><a href="mailto:counsel@yakult.co.kr" class="footer-info__btn">counsel@yakult.co.kr</a></dd>
      </dl>

      <dl class="footer-info__list">
      <dt class="footer-info__title">사업자 등록번호.</dt>
      <dd class="footer-info__desc">114-81-70065</dd>
      <dt class="footer-info__title">통신판매업신고번호.</dt>
      <dd class="footer-info__desc">제2004-서울서초-04175 <a href="#" class="footer-info__link">사업자 정보확인</a></dd>
      <dt class="footer-info__title">방문판매업신고번호.</dt>
      <dd class="footer-info__desc">제2010-서울서초-0140호</dd>
      <dt class="footer-info__title">부가통신사업신고.</dt>
      <dd class="footer-info__desc">02201</dd>
      <dt class="footer-info__title">개인정보관리 및 청소년보호 책임자.</dt>
      <dd class="footer-info__desc">최동일</dd>
      </dl>
      <ul class="footer-certificate__list">
      <li class="footer-certificate__item">
        <span class="footer-certificate__box-img">
          <img src="../img/common/ico_certificate_ncsi.png" alt="">
        </span>
        <span class="footer-certificate__text">국가고객만족도 22년<br>연속1위(우유/발효유)</span>
      </li>
      <li class="footer-certificate__item">
        <span class="footer-certificate__box-img">
          <img src="../img/common/ico_certificate_ccm.png" alt="">
        </span>
        <span class="footer-certificate__text">소비자중심경영(CCM)<br>인증획득</span>
      </li>
      </ul>

      <p class="footer__copyright">Copyright (c) 2017 korea yakult co.,ltd. All Rights Reserved.</p>

      <span class="footer__logo"><img src="../img/common/logo_footer.png" alt="한국야쿠르트"></span>
    </div>
  </div>
</footer>