body.scroll-lock {
    overflow: hidden;
    height: 100%;
}

.content {
  overflow: hidden;
  width: 100%;
  max-width: $screen-max-width;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 80px;
  background: $white;
}

// header
.header {
    $block: &;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: common-z-index(header);
    transition: all 0.15s;
    &--detail {
        #{$block}__inner {
            padding: 12px 15px 2px;
        }
        #{$block}__title {
            margin-top: 5px;
            @include rfonts(20, 24, 700);
            color: $black;
        }
    }
    &.is-opened {
        #{$block}__btn:after {
            transform: rotate(0);
        }
        #{$block}-mall {
            display: block;
        }
    }
    &.is-hide {
        transform: translateY(-100%);
    }
    &__inner {
        position: relative;
        width: 100%;
        max-width: $screen-max-width;
        margin: 0 auto;
        padding: 12px 15px 0;
        background: $white;
        box-sizing: border-box;
        &:after {
            display: block;
            clear: both;
            content: '';
        }
    }
    &__title {
        display: inline-block;
        margin-top: 7px;
        &--sub-page {
            overflow: hidden;
            display: block;
            padding: 0 82px 0 48px;
            @include rfonts(18);
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__btn {
        display: block;
        position: relative;
        width: 80px;
        height: 22px;
        padding-right: 23px;
        line-height: 0;
        &:after {
            position: absolute;
            top: 50%;
            right: 0;
            transform: rotate(180deg);
            margin-top: -8px;
            @include use-common('ico_arrow_header');
            content: '';
        }
    }
    &-mall {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 5px 15px 16px;
        background: $white;
        box-sizing: border-box;
        &__item:not(:first-child) {
            margin-top: 9px;
        }
        &__link {
            display: block;
            position: relative;
        }
    }
    &-util {
        position: relative;
        float: right;
        margin-right: -8px;
        &__btn-search {
            @include blind(36px, 36px);
            padding: 8px;
            vertical-align: top;
            &:before {
                display: inline-block;
                @include use-common('ico_header_search');
                vertical-align: top;
                content: '';
            }
        }
        &__link-cart {
            display: inline-block;
            position: relative;
            padding: 8px;
            vertical-align: top;
            box-sizing: border-box;
            &:before {
                display: inline-block;
                @include use-common('ico_header_cart');
                vertical-align: top;
                content: '';
            }
            .badge {
                position: absolute;
                top: 3px;
                right: 17px;
                padding: 1px 4px 0;
                border-radius: 8px;
                border: 2px solid $white;
                @include rfonts(10, 12, 600);
                color: $white;
                background: $green;
            }
        }
        &__link-home {
            display: inline-block;
            position: relative;
            @include blind(38px, 38px);
            padding: 8px;
            vertical-align: top;
            box-sizing: border-box;
            &:before {
                display: inline-block;
                @include use-common('ico_header_home');
                vertical-align: top;
                content: '';
            }
        }
    }
    img {
        width: 100%;
    }
    &__link-prev {
        position: absolute;
        top: 14px;
        left: 7px;
        @include blind(20px, 15px);
        padding: 8px;
        box-sizing: content-box;
        &:before {
            display: inline-block;
            @include use-common('ico_arrow_header_prev');
            vertical-align: top;
            content: '';
        }
    }
}

// gnb
.gnb {
    $block: &;
    position: fixed;
    top: $header-height;
    left: 0;
    width: 100%;
    z-index: common-z-index(gnb);
    transition: all 0.15s;
    &__inner {
        max-width: $screen-max-width;
        margin: 0 auto;
        background: $white;
        padding: 0 15px;
        box-sizing: border-box;
        &:before,
        &:after {
            position: absolute;
            top: 0;
            width: 35px;
            height: 100%;
            z-index: common-z-index(default);
        }
        &.has-before-slide:before {
            left: 0;
            background-image: linear-gradient(90deg, rgba($white, 1) 0%, rgba($white, 0) 100%);
            content: '';
        }
        &.has-after-slide:after {
            right: 0;
            background-image: linear-gradient(90deg, rgba($white, 0) 0%, rgba($white, 1) 100%);
            content: '';
        }
    }
    &__list {
        width: 100%;
        align-items: flex-end;
        font-size: 0;
        white-space: nowrap;
        &.is-scroll {
            #{$block}__text-sub {
                @include blind;
            }
        }
    }
    &__item {
        position: relative;
        width: auto;
        &.is-selected {
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 4px;
                background: $greenery;
                content: '';
            }
            #{$block}__link {
                font-weight: 700;
                color: $greenery;
            }
        }
    }
    &__link {
        display: block;
        padding: 11px 0 15px;
        @include rfonts(14, 15, 400);
        color: $dark;
        letter-spacing: -0.02em;
        text-align: center;
    }
    &__text-sub {
        display: block;
        @include rfonts(10, 15, 300);
        color: $green;
        letter-spacing: -0.03em;
    }
}

// footer
.footer {
    $block: &;
    &__inner {
        width: 100%;
        max-width: $screen-max-width;
        margin: 0 auto;
        padding: $common-layout-margin 41px;
        padding: $common-layout-margin calc(41px + constant(safe-area-inset-bottom) * 1.2);
        padding: $common-layout-margin calc(41px + env(safe-area-inset-bottom) * 1.2);
        background: $light-gray;
        box-sizing: border-box;
    }
    &-util {
        position: relative;
        padding-top: 30px;
        &__link {
            @include rfonts(16, 28, 400);
            color: $dark;
            letter-spacing: -0.03em;
        }
        &__text-sub {
            @include rfonts(13);
        }
    }
    &-sns {
        &__list {
            position: absolute;
            top: 34px;
            right: 16px;
            &:after {
                display: block;
                clear: both;
                content: '';
            }
        }
        &__item {
            float: left;
            &:not(:first-child) {
                margin-left: 6px;
            }
        }
        &__link {
            display: block;
            @include blind(23px, 23px);
            &:before {
                display: inline-block;
                vertical-align: top;
                content: '';
            }
            &--facebook:before {
                @include use-common('ico_sns_facebook');
            }
            &--youtube:before {
                @include use-common('ico_sns_youtube');
            }
            &--twitter:before {
                @include use-common('ico_sns_twitter');
            }
            &--tistory:before {
                @include use-common('ico_sns_tistory');
            }
        }
    }
    &-terms {
        &__list {
            margin-top: 20px;
            &:before {
                display: inline-block;
                vertical-align: top;
                content: '';
            }
        }
        &__item {
            float: left;
            margin-left: 13px;
            &:first-child {
                margin-left: 0;
            }
            &--cs {
                float: right;
            }
        }
        &__link {
            @include rfonts(12, 19, 400);
            letter-spacing: -0.03em;
        }
        &__text-point {
            font-weight: setFontWeight(semiBold);
        }
    }
    &-info {
        margin-top: 21px;
        &__list {
            margin-top: 10px;
        }
        &__title,
        &__desc {
            @include rfonts(10, 17, 300);
            letter-spacing: -0.03em;
        }
        &__title {
            float: left;
            color: $gray;
        }
        &__desc {
            overflow: hidden;
            color: $dark;
        }
        &__btn {
            @include rfonts(10, 17, 600);
        }
        &__link {
            margin-left: 10px;
            @include rfonts(10, 17, 300);
            color: $dark;
            &,
            &:hover {
                text-decoration: underline;
            }
            &:after {
                display: inline-block;
                margin-left: 5px;
                @include use-common('ico_arrow_footer');
                content: '';
            }
        }
    }
    &-certificate {
        &__list {
            margin-top: 30px;
            &:after {
                display: block;
                clear: both;
                content: '';
            }
        }
        &__item {
            position: relative;
            float: left;
            width: 50%;
            padding-left: 48px;
            box-sizing: border-box;
        }
        &__box-img {
            position: absolute;
            top: 50%;
            left: 0;
            width: 40px;
            transform: translateY(-50%);
            img {
                width: 100%;
            }
        }
        &__text {
            display: block;
            @include rfonts(10, 13, 400);
            color: $dark-gray;
            letter-spacing: -0.03em;
        }
    }
    &__copyright {
        margin-top: 20px;
        padding-top: 16px;
        border-top: 1px solid #e2e2e2;
        @include rfonts(10, 18, 400);
        color: $dark-gray;
    }
    &__logo {
        display: block;
        width: 67px;
        margin-top: 15px;
        img {
            width: 100%;
        }
    }
}

// common section
.common-section {
    margin-top: 35px;
    &__title {
        margin-left: 15px;
        @include rfonts(16, 24, 700);
        letter-spacing: -0.04em;
        color: $black;
        &:after {
            display: inline-block;
            margin-left: 5px;
            @include use-common('ico_title_more');
            vertical-align: -3px;
            content: '';
        }
    }
    }
.common-noti {
	margin: 0 15px;
	padding: 14px 0;
	border-bottom: 1px solid #d6d6d6;
	&__link {
		display: block;
		position: relative;
		padding-right: 30px;
		&:after {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -8px;
			@include use-common('ico_arrow_event_noti');
			content: '';
		}
	}
	.text {
		@include rfonts(11, 19, 300);
		letter-spacing: -0.05em;
		color: $dark;
		&-point {
			font-weight: 500;
			color: $green;
		}
  }
  &--point {
    margin-top: 30px;
    padding: 23px 0 8px;
    border: 3px dotted #ebdccf;
    text-align: center;
    .common-noti__link {
      padding: 0;
      &:after {
        display: none;
      }
    }
    .text {
      @include rfonts(12, 26, 300);
      color: $dark-gray;
      &-point {
        @include rfonts(15, 21, 500);
        color: $greenery;
      }
      &-bold {
        @include rfonts(16, 28, 700);
        color: $greenery;
      }
    }
  }
}
.board {
  &__list {
    margin: 0 15px;
  }
  &__item {
    border-bottom: 1px solid #d6d6d6;
  }
  &__link {
    display: block;
    padding: 19px 0 16px;
    color: $black;
    .title {
      overflow: hidden;
      display: block;
      @include rfonts(14, 21, 400);
      white-space: nowrap;
      text-overflow: ellipsis;
      letter-spacing: -0.05em;
    }
    .type {
      margin-right: 4px;
      font-weight: 500;
      color: $greenery;
    }
    .date {
      display: block;
      @include rfonts(11, 23, 400);
      color: $dark-gray;
      letter-spacing: -0.02em;
    }
  }
  &-header {
    position: relative;
    padding: 22px 64px 18px 15px;
    .title {
      @include rfonts(16, 24, 500);
      letter-spacing: -0.05em;
      color: $black;
    }
    .type {
      margin-right: 3px;
      @include rfonts(16, 24, 700);
      color: $greenery;
    }
    .date {
      display: block;
      margin-top: 13px;
      @include rfonts(11, 18, 400);
      color: $dark-gray;
    }
    .btn-share {
      position: absolute;
      bottom: 10px;
      right: 15px;
      @include blind(37px, 37px);
      padding: 5px;
      &:after {
        position: absolute;
        top: 5px;
        left: 5px;
        @include use-common('ico_event_share');
        vertical-align: top;
        content: '';
      }
    }
  }
  &-content {
    border-top: 1px solid $black;
    padding: 22px 13px 50px;
    @include rfonts(13, 23, 300);
    letter-spacing: -0.05em;
    color: $dark;
  }
  &__box-btn {
    margin-top: 40px;
    text-align: center;
    .link {
      display: inline-block;
      position: relative;
      height: 40px;
      margin: 0 auto;
      padding: 0 47px;
      border: 1px solid #222;
      font-size: 0;
      text-align: center;
      line-height: 36px;
      box-sizing: border-box;
      @include rfonts(12,false,400);
      letter-spacing: -0.07em;
      &:after {
        display: inline-block;
        margin-left: 15px;
        @include use-common('ico_arrow_link_large');
        vertical-align: middle;
        content: '';
      }
    }
  }
  &-table {
    width: auto;
    margin-top: 28px;
    text-align: left;
    caption {
      @include rfonts(13, 23, 500);
      color: $dark;
      text-align: left;
    }
    th {
      padding-right: 10px;
      font-weight: 300;
      text-align: left;
    }
    td {
        text-align: left;
    }
  }
}
.page-header {
    $block: &;
    margin: 0 15px 21px;
    padding: 23px 0 20px;
    &__title {
        @include rfonts(24, 31, 300);
        letter-spacing: -0.09em;
        color: $black;
    }
    &__desc {
        display: block;
        margin-top: 3px;
        @include rfonts(11, 20, 300);
        letter-spacing: -0.08em;
        color: $dark-gray;
    }
    .text-point {
        @include rfonts(25, false, 700);
        color: $green;
    }
    .text-bold {
        font-weight: 700;
    }
    &--has-border {
        border-bottom: 6px solid $beige;
    }
    &--small {
        padding: 36px 0 15px;
        #{$block}__title {
            @include rfonts(17, 26, 300);
        }
        .text-point {
            @include rfonts(17, false, 700);
            color: $green;
        }
    }
}