@@include('./include/head.html',{"title": "Intro - HYFRESH", "list_title": "Intro : Common", "cssFile": "hyfresh"})
<body data-pagestatus="new : 2020.09.15">
<div class="wrap wrap-intro">
  <h1 class="blind">HYFRESH 몰 선택</h1>
  <div class="intro__area">
    <div class="intro__box-image">
      <img src="../img/common/intro.jpg" alt="">
    </div>
    <a href="#" class="intro__link intro__link--hyfresh"><span class="blind">신선하고 건강한 식품 HYFRESH 이동</span></a>
    <a href="#" class="intro__link intro__link--fredit"><span class="blind">신선한 라이프 스타일 Fredit 이동</span></a>
  </div>
</div>
</body>
</html>
