@@include('./include/head.html',{"title": "Fredit 체험단 리뷰 - HYFRESH", "list_title": "Fredit 체험단 리뷰 : Event", "cssFile": "hyfresh"})
<body data-pagestatus="new : 2020.10.07">
@@include('./include/skipnavigation.html')

<div class="wrap wrap-event">
  <!-- header -->
@@include('./include/header.html',{"type":"detail","title":"Fredit 체험단 리뷰"})
  <!-- //header -->
  <!-- content -->
  <main id="content" class="content">
    <div class="experience-overview">
      <div class="experience__box-info">
          <h2 class="experience__box-info__title">Fredit 체험단 리뷰</h2>
      </div>
      <div class="experience__box-title">
        <div class="experience__image">
        <img src="../img/@tmp/@tmp_group_exp_720x350.jpg" alt="">
        </div>
        <div class="experience__title">
        <img src="../img/@tmp/@tmp_group_event_logo_170x170.png" alt="" class="experience__logo">
        <strong class="title"><span class="brand">[베베스킨]</span>베리 베리 핸드워시 체험단 모집</strong>
        </div>
      </div>
    </div>
    <div class="experience-list__area">
      <div class="product-grid">
        <a href="#" class="product-grid__link">
          <div class="product-grid__box-image">
            <img src="../img/@tmp/@tmp_product_img_660x660.jpg" alt="불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml">
          </div>
          <div class="product-grid__box-info">
            <strong class="product-grid__brand-name">아이소이</strong>
            <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
            <div class="product-grid__price-box">
            <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
            <del class="product-grid__origin-price">
              <span class="num">23,000<span class="unit">원</span></span>
            </del>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="review-score-wrap">
      <strong class="average">4.8</strong>
      <span class="count">(228명)</span>
      <!-- [D] 별점 비율에 따라 style width값 변경 -->
      <span class="star">
        <span class="rating" style="width:80%">별점</span>
      </span>
    </div>

    <!-- floating menu -->
    <div class="floating-menu">
      <div class="floating-menu__util">
        <div class="checkbox__wish">
          <input type="checkbox" name="wishList" id="productWish1" class="inp">
          <label for="productWish1" class="label">위시리스트</label>
        </div>
        <button type="button" class="btn-gift layer-popup-opener" data-layer-target="#add-gift">선물하기</button>
        <button type="button" class="btn-cart layer-popup-opener" data-layer-target="#add-cart">장바구니</button>
      </div>
      <a href="#" class="btn-text layer-popup-opener" data-layer-target="#add-order">주문하기</a>
    </div>
    <!-- //floating menu -->

    <ul class="review__list">
    <li class="review__item">
      <div class="photo-slide swiper-container">
        <ul class="photo-slide__list swiper-wrapper">
        <li class="photo-slide__item swiper-slide">
          <img src="../img/@tmp/@tmp_review_photo.png" alt="">
        </li>
        <li class="photo-slide__item swiper-slide">
          <img src="../img/@tmp/@tmp_review_photo.png" alt="">
        </li>
        <li class="photo-slide__item swiper-slide">
          <img src="../img/@tmp/@tmp_review_photo.png" alt="">
        </li>
        </ul>
      </div>
      <div class="review__summary">
			  <span class="star">
				<!-- [D] 별점 비율에 따라 style width값 변경 -->
				<span class="rating" style="width:100%">별점</span>
			  </span>
			  <span class="value">5.0</span>
			  <button type="button" class="btn-help"><span class="blind">리뷰 공감 수</span><span class="count">3</span></button>
      </div>
      <div class="review__writer-wrap">
        <span class="review__writer">전*현</span>
        <span class="date">2020.09.23</span>
			  <div class="tag-wrap">
				<span class="tag">#26세</span>
				<span class="tag">#유기농</span>
				<span class="tag">#천연</span>
				<span class="tag">#화이트닝</span>
				<span class="tag">#펫푸드</span>
			  </div>
      </div>
      <div class="review__text-wrap">
        <strong class="title">한 줄 소개</strong>
        <p class="text">평소 베베스킨에 관심이 많았어요!</p>
        <strong class="title">사용 후기</strong>
        <p class="text">무엇보다 향이 너무 좋고, 육아하면서 너무너무 거칠어진 손에 부담이 적은 핸드워시예요. 사용 후 보습감이 산뜻하게 남아있어 너무 좋아요^^ 거칠어진 손으로 아기 만지는게 너무 미안했는데 베베스킨 핸드워시 사용하면서 미안함이 조금이나마 줄어들고 있어요 ㅎㅎ 성분도 안심이라 아가 손도 매일 베베스킨으로 청결하게 관리해주고 있답니다. 온가족이 사용할 수 있는 제품이라 만족해요!</p>
      </div>
    </li>
    <li class="review__item">
      <div class="photo-slide swiper-container">
        <ul class="photo-slide__list swiper-wrapper">
        <li class="photo-slide__item swiper-slide">
          <img src="../img/@tmp/@tmp_review_photo.png" alt="">
        </li>
        <li class="photo-slide__item swiper-slide">
          <img src="../img/@tmp/@tmp_review_photo.png" alt="">
        </li>
        <li class="photo-slide__item swiper-slide">
          <img src="../img/@tmp/@tmp_review_photo.png" alt="">
        </li>
        </ul>
      </div>
      <div class="review__summary">
			  <span class="star">
				<!-- [D] 별점 비율에 따라 style width값 변경 -->
				<span class="rating" style="width:100%">별점</span>
			  </span>
			  <span class="value">5</span>
			  <button type="button" class="btn-help"><span class="blind">리뷰 공감 수</span><span class="count">3</span></button>
      </div>
      <div class="review__writer-wrap">
        <span class="review__writer">전*현</span>
        <span class="date">2020.09.23</span>
			  <div class="tag-wrap">
				<span class="tag">#26세</span>
				<span class="tag">#유기농</span>
				<span class="tag">#천연</span>
				<span class="tag">#화이트닝</span>
				<span class="tag">#펫푸드</span>
			  </div>
      </div>
      <div class="review__text-wrap">
        <strong class="title">한 줄 소개</strong>
        <p class="text">평소 베베스킨에 관심이 많았어요!</p>
        <strong class="title">사용 후기</strong>
        <p class="text">무엇보다 향이 너무 좋고, 육아하면서 너무너무 거칠어진 손에 부담이 적은 핸드워시예요. 사용 후 보습감이 산뜻하게 남아있어 너무 좋아요^^ 거칠어진 손으로 아기 만지는게 너무 미안했는데 베베스킨 핸드워시 사용하면서 미안함이 조금이나마 줄어들고 있어요 ㅎㅎ 성분도 안심이라 아가 손도 매일 베베스킨으로 청결하게 관리해주고 있답니다. 온가족이 사용할 수 있는 제품이라 만족해요!</p>
      </div>
    </li>
    <li class="review__item">
      <div class="photo-slide swiper-container">
        <ul class="photo-slide__list swiper-wrapper">
        <li class="photo-slide__item swiper-slide">
          <img src="../img/@tmp/@tmp_review_photo.png" alt="">
        </li>
        <li class="photo-slide__item swiper-slide">
          <img src="../img/@tmp/@tmp_review_photo.png" alt="">
        </li>
        <li class="photo-slide__item swiper-slide">
          <img src="../img/@tmp/@tmp_review_photo.png" alt="">
        </li>
        </ul>
      </div>
      <div class="review__summary">
			  <span class="star">
				<!-- [D] 별점 비율에 따라 style width값 변경 -->
				<span class="rating" style="width:100%">별점</span>
			  </span>
			  <span class="value">5</span>
			  <button type="button" class="btn-help"><span class="blind">리뷰 공감 수</span><span class="count">3</span></button>
      </div>
      <div class="review__writer-wrap">
        <span class="review__writer">전*현</span>
        <span class="date">2020.09.23</span>
			  <div class="tag-wrap">
				<span class="tag">#26세</span>
				<span class="tag">#유기농</span>
				<span class="tag">#천연</span>
				<span class="tag">#화이트닝</span>
				<span class="tag">#펫푸드</span>
			  </div>
      </div>
      <div class="review__text-wrap">
        <strong class="title">한 줄 소개</strong>
        <p class="text">평소 베베스킨에 관심이 많았어요!</p>
        <strong class="title">사용 후기</strong>
        <p class="text">무엇보다 향이 너무 좋고, 육아하면서 너무너무 거칠어진 손에 부담이 적은 핸드워시예요. 사용 후 보습감이 산뜻하게 남아있어 너무 좋아요^^ 거칠어진 손으로 아기 만지는게 너무 미안했는데 베베스킨 핸드워시 사용하면서 미안함이 조금이나마 줄어들고 있어요 ㅎㅎ 성분도 안심이라 아가 손도 매일 베베스킨으로 청결하게 관리해주고 있답니다. 온가족이 사용할 수 있는 제품이라 만족해요!</p>
      </div>
    </li>
    </ul>
  </main>
  <!-- //content -->
  <!-- footer -->
@@include('./include/footer.html')
  <!-- //footer -->
</div>
<div class="sticky-wrap">
  <!-- 상단이동버튼 -->
  <a href="#" class="btn-top">페이지 상단으로 이동</a>
</div>

<!-- [D] Layer popup : 장바구니 팝업 -->
<div class="common-layer layer-upper layer-add-cart" id="add-cart" style="display:none;">
  <div class="common-layer__dimmed"></div>
  <div class="common-layer__wrapper">
    <div class="common-layer__inner" role="dialog">
      <div class="common-layer__content">
        <div class="product-grid">
          <div class="product-grid__box-info">
            <strong class="product-grid__brand-name">아이소이</strong>
            <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
            <div class="product-grid__price-box">
              <span class="product-grid__badge product-grid__badge--rate">
                <span class="blind">할인율</span>30<span class="unit">%</span>
              </span>
              <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
              <del class="product-grid__origin-price">
                <span class="num">23,000<span class="unit">원</span></span>
              </del>
            </div>
          </div>
        </div>
        <div class="layer-upper__form">
          <form action="">
            <div class="layer-upper__form-row">
              <label for="num_product_cart" class="label">수량 선택</label>
              <div class="layer-upper__amount">
                <button type="button" class="btn-minus">minus</button>
                <input type="number" name="number-product" id="num_product_cart" readonly value="1">
                <button type="button" class="btn-plus">plus</button>
              </div>
            </div>
            <div class="layer-upper__form-row">
              <label for="product_options_cart" class="label">상품 옵션</label>
              <div class="layer-upper__sel">
                <select id="product_options_cart" disabled>
                  <option value="">옵션을 선택해 주세요.</option>
                </select>
              </div>
            </div>
            <div class="layer-upper__form-row">
              <strong class="label">배송 옵션</strong>
              <ul class="layer-upper__box-radio">
                <li class="layer-upper__radio">
                  <input type="radio" name="shipping_options_cart" id="shipping_cart_options1">
                  <label for="shipping_cart_options1">1회 구매</label>
                </li>
                <li class="layer-upper__radio">
                  <input type="radio" name="shipping_options_cart" id="shipping_cart_options2">
                  <label for="shipping_cart_options2">정기배송 <span class="shipping-tag">5%</span></label>
                </li>
              </ul>
            </div>
            <div class="layer-upper__box-btn">
              <button type="submit" class="layer-upper__form-btn">장바구니 담기</button>
            </div>
          </form>
        </div>
      </div>
      <div class="common-layer__box-btn-close">
        <button type="button" class="common-layer__btn-close">팝업 닫기</button>
      </div>
    </div>
  </div>
</div>

<!-- [D] Layer popup : 선물하기 팝업 -->
<div class="common-layer layer-upper layer-add-gift" id="add-gift" style="display:none;">
  <div class="common-layer__dimmed"></div>
  <div class="common-layer__wrapper">
    <div class="common-layer__inner" role="dialog">
      <div class="common-layer__content">
        <div class="product-grid">
          <div class="product-grid__box-info">
            <strong class="product-grid__brand-name">아이소이</strong>
            <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
            <div class="product-grid__price-box">
              <span class="product-grid__badge product-grid__badge--rate">
                <span class="blind">할인율</span>30<span class="unit">%</span>
              </span>
              <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
              <del class="product-grid__origin-price">
                <span class="num">23,000<span class="unit">원</span></span>
              </del>
            </div>
          </div>
        </div>
        <div class="layer-upper__form">
          <form action="">
            <div class="layer-upper__form-row">
              <label for="num_product_gift" class="label">수량 선택</label>
              <div class="layer-upper__amount">
                <button type="button" class="btn-minus">minus</button>
                <input type="number" name="number-product" id="num_product_gift" readonly value="1">
                <button type="button" class="btn-plus">plus</button>
              </div>
            </div>
            <div class="layer-upper__form-row">
              <label for="product_options_gift" class="label">상품 옵션</label>
              <div class="layer-upper__sel">
                <select id="product_options_gift" disabled>
                  <option value="">옵션을 선택해 주세요.</option>
                </select>
              </div>
            </div>
            <div class="layer-upper__box-btn">
              <button type="submit" class="layer-upper__form-btn">선물하기</button>
            </div>
          </form>
        </div>
      </div>
      <div class="common-layer__box-btn-close">
        <button type="button" class="common-layer__btn-close">팝업 닫기</button>
      </div>
    </div>
  </div>
</div>

<!-- [D] Layer popup : 주문하기 팝업 -->
<div class="common-layer layer-upper layer-add-order" id="add-order" style="display:none;">
  <div class="common-layer__dimmed"></div>
  <div class="common-layer__wrapper">
    <div class="common-layer__inner" role="dialog">
      <div class="common-layer__content">
        <div class="product-grid">
          <div class="product-grid__box-info">
            <strong class="product-grid__brand-name">아이소이</strong>
            <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
            <div class="product-grid__price-box">
              <span class="product-grid__badge product-grid__badge--rate">
                <span class="blind">할인율</span>30<span class="unit">%</span>
              </span>
              <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
              <del class="product-grid__origin-price">
                <span class="num">23,000<span class="unit">원</span></span>
              </del>
            </div>
          </div>
        </div>
        <div class="layer-upper__form">
          <form action="">
            <div class="layer-upper__form-row">
              <label for="num_product_order" class="label">수량 선택</label>
              <div class="layer-upper__amount">
                <button type="button" class="btn-minus">minus</button>
                <input type="number" name="number-product" id="num_product_order" readonly value="1">
                <button type="button" class="btn-plus">plus</button>
              </div>
            </div>
            <div class="layer-upper__form-row">
              <label for="product_options_order" class="label">상품 옵션</label>
              <div class="layer-upper__sel">
                <select id="product_options_order" disabled>
                  <option value="">옵션을 선택해 주세요.</option>
                </select>
              </div>
            </div>
            <div class="layer-upper__form-row">
              <strong class="label">배송 옵션</strong>
              <ul class="layer-upper__box-radio">
                <li class="layer-upper__radio">
                  <input type="radio" name="shipping_options_order" id="shipping_order_options1">
                  <label for="shipping_order_options1">1회 구매</label>
                </li>
                <li class="layer-upper__radio">
                  <input type="radio" name="shipping_options_order" id="shipping_order_options2">
                  <label for="shipping_order_options2">정기배송 <span class="shipping-tag">5%</span></label>
                </li>
              </ul>
            </div>
            <div class="layer-upper__form-row">
              <label for="delivery_request_date" class="label">배송 옵션</label>
              <div class="delivery_request">
                <input type="text" id="delivery_request_date" readonly value="2020-09-21(월)">
              </div>
            </div>
            <div class="layer-upper__box-btn">
              <button type="submit" class="layer-upper__form-btn">주문하기</button>
            </div>
          </form>
        </div>
      </div>
      <div class="common-layer__box-btn-close">
        <button type="button" class="common-layer__btn-close">팝업 닫기</button>
      </div>
    </div>
  </div>
</div>

@@include('./include/script.html',{"type":""})
</body>
</html>
