@@include('./include/head.html',{"title": "BEST - HYFRESH", "list_title": "Best : Subpage ", "cssFile": "hyfresh"})
<body data-pagestatus="update : 2020.10.12">
@@include('./include/skipnavigation.html')

<div class="wrap wrap-best">
  <!-- header -->
  @@include('./include/header.html',{"type":"default"})
  <!-- //header -->
  <!-- gnb -->
@@include('./include/gnb.html')
  <!-- //gnb -->
  <!-- navigation -->
@@include('./include/navigation.html')
  <!-- //navigation -->
  <!-- content -->
  <main id="content" class="content">
    <div class="best__area">
      <div class="best__banner">
        <a href="#" class="best__banner-link">
          <img src="../img/@tmp/@tmp_banner_720x320.jpg" alt="어머! 이건 꼭 사야해! TOP 100" class="best__banner-img">
        </a>
      </div>
      <div class="products">
        <!-- [D] tab category -->
        <div class="tab-category__area">
          <div class="tab-category__inner">
            <ul class="tab-category__list">
            <li class="tab-category__item"><a href="#" class="tab-category__link">ALL</a>
              <div class="tab-sub swiper-container">
                <ul class="tab-sub__list swiper-wrapper">
                  <!-- [D] 활성화 : 'li.tab-sub__item'에 'is-active' 클래스 추가 -->
                <li class="tab-sub__item swiper-slide is-active">
                  <a href="#" class="tab-sub__link">전체</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">덴탈케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">바디케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">스킨케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                </ul>
              </div>
            </li>
            <!-- [D] 선택 : 'li.tab-category__item'에 'is-selected' 클래스 추가 -->
            <li class="tab-category__item is-selected">
              <a href="#" class="tab-category__link">BEAUTY</a>
              <div class="tab-sub swiper-container">
                <ul class="tab-sub__list swiper-wrapper">
                  <!-- [D] 활성화 : 'li.tab-sub__item'에 'is-active' 클래스 추가 -->
                <li class="tab-sub__item swiper-slide is-active">
                  <a href="#" class="tab-sub__link">전체</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">덴탈케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">바디케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">스킨케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                </ul>
              </div>
            </li>
            <li class="tab-category__item"><a href="#" class="tab-category__link">LIFE</a>
              <div class="tab-sub swiper-container">
                <ul class="tab-sub__list swiper-wrapper">
                  <!-- [D] 활성화 : 'li.tab-sub__item'에 'is-active' 클래스 추가 -->
                <li class="tab-sub__item swiper-slide is-active">
                  <a href="#" class="tab-sub__link">전체</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">덴탈케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">바디케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">스킨케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                </ul>
              </div>
            </li>
            <li class="tab-category__item"><a href="#" class="tab-category__link">WOMEN</a>
              <div class="tab-sub swiper-container">
                <ul class="tab-sub__list swiper-wrapper">
                  <!-- [D] 활성화 : 'li.tab-sub__item'에 'is-active' 클래스 추가 -->
                <li class="tab-sub__item swiper-slide is-active">
                  <a href="#" class="tab-sub__link">전체</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">덴탈케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">바디케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">스킨케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                </ul>
              </div>
            </li>
            <li class="tab-category__item"><a href="#" class="tab-category__link">BABY</a>
              <div class="tab-sub swiper-container">
                <ul class="tab-sub__list swiper-wrapper">
                  <!-- [D] 활성화 : 'li.tab-sub__item'에 'is-active' 클래스 추가 -->
                <li class="tab-sub__item swiper-slide is-active">
                  <a href="#" class="tab-sub__link">전체</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">덴탈케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">바디케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">스킨케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                <li class="tab-sub__item swiper-slide">
                  <a href="#" class="tab-sub__link">헤어케어</a>
                </li>
                </ul>
              </div>
            </li>
            </ul>
          </div>
        </div>
        <!--// [D] tab category -->
        <div class="products__area">
          <div class="products__inner">
            <div class="products__head">
              <div class="products__count">총 87개</div>
              <div class="products__control">
                <div class="dropdown js-dropdown">
                  <button type="button" class="products__control-btn products__control-btn--sort dropdown__btn js-dropdown__btn">추천순</button>
                  <ul class="dropdown__list js-dropdown__list" style="display:none;">
                    <li class="dropdown__item"><button type="button" class="dropdown__btn-list js-dropdown__btn-list">추천순</button></li>
                    <li class="dropdown__item"><button type="button" class="dropdown__btn-list js-dropdown__btn-list">출시일순</button></li>
                    <li class="dropdown__item"><button type="button" class="dropdown__btn-list js-dropdown__btn-list">인기상품순</button></li>
                    <li class="dropdown__item"><button type="button" class="dropdown__btn-list js-dropdown__btn-list">후기많은순</button></li>
                    <li class="dropdown__item"><button type="button" class="dropdown__btn-list js-dropdown__btn-list">낮은가격순</button></li>
                    <li class="dropdown__item"><button type="button" class="dropdown__btn-list js-dropdown__btn-list">높은가격순</button></li>
                  </ul>
                </div>
                <button type="button" class="products__control-btn products__control-btn--filter layer-popup-opener" data-layer-target="#filter-layer">필터</button>
                <!-- [D] two column : '.products__control-btn--view-mode'에 'type2' 클래스 추가 -->
                <button type="button" class="products__control-btn products__control-btn--view-mode">view mode</button>
              </div>
            </div>
            <!-- [D] typeB : '.products__list'에 'products__list--typeb' 클래스 추가 -->
            <ul class="products__list">
              <li class="products__item">
                <div class="product-grid">
                  <a href="#" class="product-grid__link">
                    <div class="product-grid__box-image">
                      <img src="../img/@tmp/@tmp_product_img_660x660.jpg" alt="불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml">
                    </div>
                  </a>
                  <div class="product-grid__box-btn">
                    <div class="product-grid__btn product-grid__btn--wish">
                      <div class="checkbox__wish">
                        <input type="checkbox" name="wish_list" id="product__wish1" class="inp">
                        <label for="product__wish1" class="label">위시리스트</label>
                      </div>
                    </div>
                    <button type="button" class="product-grid__btn product-grid__btn--cart layer-popup-opener" data-layer-target="#add-cart">
                      <span class="blind">장바구니</span>
                    </button>
                    <button type="button" class="product-grid__btn product-grid__btn--gift layer-popup-opener" data-layer-target="#add-gift">
                      <span class="blind">선물하기</span>
                    </button>
                    <button type="button" class="product-grid__btn product-grid__btn--order layer-popup-opener" data-layer-target="#add-order">
                      <span class="blind">주문하기</span>
                    </button>
                  </div>
                  <a href="#" class="product-grid__link">
                    <div class="product-grid__box-info">
                      <strong class="product-grid__brand-name">아이소이</strong>
                      <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
                      <div class="product-grid__price-box">
                        <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
                        <del class="product-grid__origin-price">
                          <span class="num">23,000<span class="unit">원</span></span>
                        </del>
                      </div>
                    </div>
                  </a>
                  <div class="product-grid__box-badge">
                    <span class="product-grid__badge product-grid__badge--new">N</span>
                    <span class="product-grid__badge product-grid__badge--rate">
                      <span class="blind">할인율</span>30<span class="unit">%</span>
                    </span>
                  </div>
                </div>
              </li>
              <li class="products__item">
                <div class="product-grid">
                  <a href="#" class="product-grid__link">
                    <div class="product-grid__box-image">
                      <img src="../img/@tmp/@tmp_product_img_660x660.jpg" alt="불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml">
                    </div>
                  </a>
                  <div class="product-grid__box-btn">
                    <div class="product-grid__btn product-grid__btn--wish">
                      <div class="checkbox__wish">
                        <input type="checkbox" name="wish_list" id="product__wish2" class="inp">
                        <label for="product__wish2" class="label">위시리스트</label>
                      </div>
                    </div>
                    <button type="button" class="product-grid__btn product-grid__btn--cart layer-popup-opener" data-layer-target="#add-cart">
                      <span class="blind">장바구니</span>
                    </button>
                    <button type="button" class="product-grid__btn product-grid__btn--gift layer-popup-opener" data-layer-target="#add-gift">
                      <span class="blind">선물하기</span>
                    </button>
                    <button type="button" class="product-grid__btn product-grid__btn--order layer-popup-opener" data-layer-target="#add-order">
                      <span class="blind">주문하기</span>
                    </button>
                  </div>
                  <a href="#" class="product-grid__link">
                    <div class="product-grid__box-info">
                      <strong class="product-grid__brand-name">아이소이</strong>
                      <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
                      <div class="product-grid__price-box">
                        <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
                        <del class="product-grid__origin-price">
                          <span class="num">23,000<span class="unit">원</span></span>
                        </del>
                      </div>
                    </div>
                  </a>
                  <div class="product-grid__box-badge">
                    <span class="product-grid__badge product-grid__badge--new">N</span>
                    <span class="product-grid__badge product-grid__badge--rate">
                      <span class="blind">할인율</span>30<span class="unit">%</span>
                    </span>
                  </div>
                </div>
              </li>
              <li class="products__item">
                <div class="product-grid">
                  <a href="#" class="product-grid__link">
                    <div class="product-grid__box-image">
                      <img src="../img/@tmp/@tmp_product_img_660x660.jpg" alt="불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml">
                    </div>
                  </a>
                  <div class="product-grid__box-btn">
                    <div class="product-grid__btn product-grid__btn--wish">
                      <div class="checkbox__wish">
                        <input type="checkbox" name="wish_list" id="product__wish3" class="inp">
                        <label for="product__wish3" class="label">위시리스트</label>
                      </div>
                    </div>
                    <button type="button" class="product-grid__btn product-grid__btn--cart layer-popup-opener" data-layer-target="#add-cart">
                      <span class="blind">장바구니</span>
                    </button>
                    <button type="button" class="product-grid__btn product-grid__btn--gift layer-popup-opener" data-layer-target="#add-gift">
                      <span class="blind">선물하기</span>
                    </button>
                    <button type="button" class="product-grid__btn product-grid__btn--order layer-popup-opener" data-layer-target="#add-order">
                      <span class="blind">주문하기</span>
                    </button>
                  </div>
                  <a href="#" class="product-grid__link">
                    <div class="product-grid__box-info">
                      <strong class="product-grid__brand-name">아이소이</strong>
                      <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
                      <div class="product-grid__price-box">
                        <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
                        <del class="product-grid__origin-price">
                          <span class="num">23,000<span class="unit">원</span></span>
                        </del>
                      </div>
                    </div>
                  </a>
                  <div class="product-grid__box-badge">
                    <span class="product-grid__badge product-grid__badge--new">N</span>
                    <span class="product-grid__badge product-grid__badge--rate">
                      <span class="blind">할인율</span>30<span class="unit">%</span>
                    </span>
                  </div>
                </div>
              </li>
              <li class="products__item">
                <div class="product-grid">
                  <a href="#" class="product-grid__link">
                    <div class="product-grid__box-image">
                      <img src="../img/@tmp/@tmp_product_img_660x660.jpg" alt="불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml">
                    </div>
                  </a>
                  <div class="product-grid__box-btn">
                    <div class="product-grid__btn product-grid__btn--wish">
                      <div class="checkbox__wish">
                        <input type="checkbox" name="wish_list" id="product__wish4" class="inp">
                        <label for="product__wish4" class="label">위시리스트</label>
                      </div>
                    </div>
                    <button type="button" class="product-grid__btn product-grid__btn--cart layer-popup-opener" data-layer-target="#add-cart">
                      <span class="blind">장바구니</span>
                    </button>
                    <button type="button" class="product-grid__btn product-grid__btn--gift layer-popup-opener" data-layer-target="#add-gift">
                      <span class="blind">선물하기</span>
                    </button>
                    <button type="button" class="product-grid__btn product-grid__btn--order layer-popup-opener" data-layer-target="#add-order">
                      <span class="blind">주문하기</span>
                    </button>
                  </div>
                  <a href="#" class="product-grid__link">
                    <div class="product-grid__box-info">
                      <strong class="product-grid__brand-name">아이소이</strong>
                      <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
                      <div class="product-grid__price-box">
                        <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
                        <del class="product-grid__origin-price">
                          <span class="num">23,000<span class="unit">원</span></span>
                        </del>
                      </div>
                    </div>
                  </a>
                  <div class="product-grid__box-badge">
                    <span class="product-grid__badge product-grid__badge--new">N</span>
                    <span class="product-grid__badge product-grid__badge--rate">
                      <span class="blind">할인율</span>30<span class="unit">%</span>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    @@include('./include/notice-bar.html')
  </main>
  <!-- //content -->
  <!-- footer -->
@@include('./include/footer.html')
  <!-- //footer -->
</div>
<div class="sticky-wrap">
  <a href="#" class="btn-top">페이지 상단으로 이동</a>
</div>
<!-- [D] Layer popup -->
<div class="common-layer layer-upper layer-add-cart" id="add-cart" style="display:none;">
  <div class="common-layer__dimmed"></div>
  <div class="common-layer__wrapper">
    <div class="common-layer__inner" role="dialog">
      <div class="common-layer__content">
        <div class="product-grid">
          <div class="product-grid__box-info">
            <strong class="product-grid__brand-name">아이소이</strong>
            <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
            <div class="product-grid__price-box">
              <span class="product-grid__badge product-grid__badge--rate">
                <span class="blind">할인율</span>30<span class="unit">%</span>
              </span>
              <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
              <del class="product-grid__origin-price">
                <span class="num">23,000<span class="unit">원</span></span>
              </del>
            </div>
          </div>
        </div>
        <div class="layer-upper__form">
          <form action="">
            <div class="layer-upper__form-row">
              <label for="num_product_cart" class="label">수량 선택</label>
              <div class="layer-upper__amount">
                <button type="button" class="btn-minus">minus</button>
                <input type="number" name="number-product" id="num_product_cart" readonly value="1">
                <button type="button" class="btn-plus">plus</button>
              </div>
            </div>
            <div class="layer-upper__form-row">
              <label for="product_options_cart" class="label">상품 옵션</label>
              <div class="layer-upper__sel">
                <select name="" id="product_options_cart" disabled>
                  <option value="">옵션을 선택해 주세요.</option>
                </select>
              </div>
            </div>
            <div class="layer-upper__form-row">
              <strong class="label">배송 옵션</strong>
              <ul class="layer-upper__box-radio">
                <li class="layer-upper__radio">
                  <input type="radio" name="shipping_options_cart" id="shipping_cart_options1">
                  <label for="shipping_cart_options1">1회 구매</label>
                </li>
                <li class="layer-upper__radio">
                  <input type="radio" name="shipping_options_cart" id="shipping_cart_options2">
                  <label for="shipping_cart_options2">정기배송 <span class="shipping-tag">5%</span></label>
                </li>
              </ul>
            </div>
            <div class="layer-upper__box-btn">
              <button type="submit" class="layer-upper__form-btn">장바구니 담기</button>
            </div>
          </form>
        </div>
      </div>
      <div class="common-layer__box-btn-close">
        <button type="button" class="common-layer__btn-close">팝업 닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="common-layer layer-upper layer-add-gift" id="add-gift" style="display:none;">
  <div class="common-layer__dimmed"></div>
  <div class="common-layer__wrapper">
    <div class="common-layer__inner" role="dialog">
      <div class="common-layer__content">
        <div class="product-grid">
          <div class="product-grid__box-info">
            <strong class="product-grid__brand-name">아이소이</strong>
            <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
            <div class="product-grid__price-box">
              <span class="product-grid__badge product-grid__badge--rate">
                <span class="blind">할인율</span>30<span class="unit">%</span>
              </span>
              <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
              <del class="product-grid__origin-price">
                <span class="num">23,000<span class="unit">원</span></span>
              </del>
            </div>
          </div>
        </div>
        <div class="layer-upper__form">
          <form action="">
            <div class="layer-upper__form-row">
              <label for="num_product_gift" class="label">수량 선택</label>
              <div class="layer-upper__amount">
                <button type="button" class="btn-minus">minus</button>
                <input type="number" name="number-product" id="num_product_gift" readonly value="1">
                <button type="button" class="btn-plus">plus</button>
              </div>
            </div>
            <div class="layer-upper__form-row">
              <label for="product_options_gift" class="label">상품 옵션</label>
              <div class="layer-upper__sel">
                <select name="" id="product_options_gift" disabled>
                  <option value="">옵션을 선택해 주세요.</option>
                </select>
              </div>
            </div>
            <div class="layer-upper__box-btn">
              <button type="submit" class="layer-upper__form-btn">선물하기</button>
            </div>
          </form>
        </div>
      </div>
      <div class="common-layer__box-btn-close">
        <button type="button" class="common-layer__btn-close">팝업 닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="common-layer layer-upper layer-add-order" id="add-order" style="display:none;">
  <div class="common-layer__dimmed"></div>
  <div class="common-layer__wrapper">
    <div class="common-layer__inner" role="dialog">
      <div class="common-layer__content">
        <div class="product-grid">
          <div class="product-grid__box-info">
            <strong class="product-grid__brand-name">아이소이</strong>
            <p class="product-grid__product-name">불가리안 로즈 블레미쉬 케어세럼Ⅱ (잡티세럼) 35ml</p>
            <div class="product-grid__price-box">
              <span class="product-grid__badge product-grid__badge--rate">
                <span class="blind">할인율</span>30<span class="unit">%</span>
              </span>
              <strong class="product-grid__price">49,000<span class="unit">원</span></strong>
              <del class="product-grid__origin-price">
                <span class="num">23,000<span class="unit">원</span></span>
              </del>
            </div>
          </div>
        </div>
        <div class="layer-upper__form">
          <form action="">
            <div class="layer-upper__form-row">
              <label for="num_product_order" class="label">수량 선택</label>
              <div class="layer-upper__amount">
                <button type="button" class="btn-minus">minus</button>
                <input type="number" name="number-product" id="num_product_order" readonly value="1">
                <button type="button" class="btn-plus">plus</button>
              </div>
            </div>
            <div class="layer-upper__form-row">
              <label for="product_options_order" class="label">상품 옵션</label>
              <div class="layer-upper__sel">
                <select name="" id="product_options_order" disabled>
                  <option value="">옵션을 선택해 주세요.</option>
                </select>
              </div>
            </div>
            <div class="layer-upper__form-row">
              <strong class="label">배송 옵션</strong>
              <ul class="layer-upper__box-radio">
                <li class="layer-upper__radio">
                  <input type="radio" name="shipping_options_order" id="shipping_order_options1">
                  <label for="shipping_order_options1">1회 구매</label>
                </li>
                <li class="layer-upper__radio">
                  <input type="radio" name="shipping_options_order" id="shipping_order_options2">
                  <label for="shipping_order_options2">정기배송 <span class="shipping-tag">5%</span></label>
                </li>
              </ul>
            </div>
            <div class="layer-upper__form-row">
              <label for="delivery_request_date" class="label">배송 옵션</label>
              <div class="delivery_request">
                <input type="text" id="delivery_request_date" readonly value="2020-09-21(월)">
              </div>
            </div>
            <div class="layer-upper__box-btn">
              <button type="submit" class="layer-upper__form-btn">주문하기</button>
            </div>
          </form>
        </div>
      </div>
      <div class="common-layer__box-btn-close">
        <button type="button" class="common-layer__btn-close">팝업 닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="common-layer layer-login-prompt" id="layer-login-prompt-gift" style="display:none;">
  <div class="common-layer__dimmed"></div>
  <div class="common-layer__wrapper">
    <div class="common-layer__inner" role="dialog">
      <div class="common-layer__content">
        <p class="layer-login-prompt__text">Fredit 회원으로 선물을 하시면 특별한 혜택을<br> 받을 수 있습니다.</p>
        <div class="layer-login-prompt__box-btn">
          <button type="button" class="layer-login-prompt__btn layer-login-prompt__btn--login">로그인 후 선물하기</button>
          <button type="button" class="layer-login-prompt__btn layer-login-prompt__btn--non">비회원으로 선물하기</button>
        </div>
      </div>
      <div class="common-layer__box-btn-close">
        <button type="button" class="common-layer__btn-close">팝업 닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="common-layer layer-login-prompt" id="layer-login-prompt-order" style="display:none;">
  <div class="common-layer__dimmed"></div>
  <div class="common-layer__wrapper">
    <div class="common-layer__inner" role="dialog">
      <div class="common-layer__content">
        <p class="layer-login-prompt__text">Fredit 회원으로 주문을 하시면 특별한 혜택을<br> 받을 수 있습니다.</p>
        <div class="layer-login-prompt__box-btn">
          <button type="button" class="layer-login-prompt__btn layer-login-prompt__btn--login">로그인 후 주문하기</button>
          <button type="button" class="layer-login-prompt__btn layer-login-prompt__btn--non">비회원으로 주문하기</button>
        </div>
      </div>
      <div class="common-layer__box-btn-close">
        <button type="button" class="common-layer__btn-close">팝업 닫기</button>
      </div>
    </div>
  </div>
</div>

<!-- [D] Layer popup : 필터-->
<div class="common-layer common-layer--full layer-filter" id="filter-layer" style="display: none;" data-effect="slide-rtl">
  <div class="common-layer__dimmed"></div>
  <div class="common-layer__wrapper">
    <div class="common-layer__inner" role="dialog">
      <div class="common-layer__header">
        <h1 class="common-layer__title">필터</h1>
        <div class="btn-toggle-wrap js-btn-toggle-wrap">
          <button type="button" class="btn-toggle js-btn-toggle">내 맞춤 필터 켜기</button>
        </div>
      </div>
      <div class="common-layer__content">
        <form action="" class="common-form">
          <fieldset>
            <legend>내 맞춤 필터 선택 폼</legend>
            <ul class="accordion__list js-accordion-list">
            <li class="accordion__item js-accordion-item is-expanded">
              <button type="button" class="accordion__btn js-accordion-tab" aria-controls="accordion01" aria-expanded="true">상품 카테고리</button>
              <div class="accordion__content js-accordion-content" id="accordion01">
                <!-- data-toggle-max: 접힘 상태일 때 최대 높이값 (rem단위) -->
                <div class="toggle js-toggle-wrap" data-maxvalue="10">
                  <div class="toggle__content js-toggle-content">
                    <div class="checkbox-wrap">
                      <input type="checkbox" id="checkbox01" class="inp">
                      <label for="checkbox01" class="label">LIFE &gt; 뷰티/바디케어<span class="text-sub">(2)</span></label>
                    </div>
                    <div class="checkbox-wrap">
                      <input type="checkbox" id="checkbox02" class="inp">
                      <label for="checkbox02" class="label">LIFE &gt; 세탁용품<span class="text-sub">(5)</span></label>
                    </div>
                    <div class="checkbox-wrap">
                      <input type="checkbox" id="checkbox03" class="inp">
                      <label for="checkbox03" class="label">LIFE &gt; 여성용품<span class="text-sub">(2)</span></label>
                    </div>
                    <div class="checkbox-wrap">
                      <input type="checkbox" id="checkbox04" class="inp">
                      <label for="checkbox04" class="label">LIFE &gt; 베이비/키즈<span class="text-sub">(2)</span></label>
                    </div>
                    <div class="checkbox-wrap">
                      <input type="checkbox" id="checkbox05" class="inp">
                      <label for="checkbox05" class="label">FODD &gt; 유제품유산균<span class="text-sub">(222)</span></label>
                    </div>
                    <div class="checkbox-wrap">
                      <input type="checkbox" id="checkbox06" class="inp">
                      <label for="checkbox06" class="label">FOOD &gt; 커피음료생수<span class="text-sub">(211)</span></label>
                    </div>
                    <div class="checkbox-wrap">
                      <input type="checkbox" id="checkbox07" class="inp">
                      <label for="checkbox07" class="label">FOOD &gt; 건강식품<span class="text-sub">(12)</span></label>
                    </div>
                    <div class="checkbox-wrap">
                      <input type="checkbox" id="checkbox08" class="inp">
                      <label for="checkbox08" class="label">FOOD &gt; 밀키트<span class="text-sub">(2)</span></label>
                    </div>
                    <div class="checkbox-wrap">
                      <input type="checkbox" id="checkbox09" class="inp">
                      <label for="checkbox09" class="label">FOOD &gt; 비비고<span class="text-sub">(2)</span></label>
                    </div>
                    <div class="checkbox-wrap">
                      <input type="checkbox" id="checkbox10" class="inp">
                      <label for="checkbox10" class="label">FOOD &gt; 맞춤식단<span class="text-sub">(2)</span></label>
                    </div>
                  </div>
                  <div class="toggle__btn-wrap">
                    <button type="button" class="toggle__btn js-toggle-btn">전체보기</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="accordion__item js-accordion-item">
              <button type="button" class="accordion__btn js-accordion-tab" aria-controls="accordion02" aria-expanded="false">배송 방식</button>
              <div class="accordion__content js-accordion-content" id="accordion02">
                <div class="radio-wrap">
                  <input type="radio" id="radio01" name="group01" class="inp">
                  <label for="radio01" class="label">매니저 배송</label>
                </div>
                <div class="radio-wrap">
                  <input type="radio" id="radio02" name="group01" class="inp">
                  <label for="radio02" class="label">택배 배송</label>
                </div>
                <div class="radio-wrap">
                  <input type="radio" id="radio03" name="group01" class="inp">
                  <label for="radio03" class="label">업체 배송</label>
                </div>
              </div>
            </li>
            <li class="accordion__item js-accordion-item">
              <button type="button" class="accordion__btn js-accordion-tab" aria-controls="accordion03" aria-expanded="false">가격</button>
              <div class="accordion__content js-accordion-content" id="accordion03">
                <div class="accordion__inner">
                  <div class="radio-wrap">
                    <input type="radio" id="radio04" name="group02" class="inp">
                    <label for="radio04" class="label">~1만원</label>
                  </div>
                  <div class="radio-wrap">
                    <input type="radio" id="radio05" name="group02" class="inp">
                    <label for="radio05" class="label">1만원 ~ 3만원</label>
                  </div>
                </div>
                <div class="accordion__inner">
                  <div class="radio-wrap">
                    <input type="radio" id="radio06" name="group02" class="inp">
                    <label for="radio06" class="label">3만원 ~ 7만원</label>
                  </div>
                  <div class="radio-wrap">
                    <input type="radio" id="radio07" name="group02" class="inp">
                    <label for="radio07" class="label">7만원~</label>
                  </div>
                </div>
                <div class="input-range-wrap">
                  <div class="input__group">
                    <div class="input__inner">
                      <input type="text" id="inputRange" class="inp" title="필터 가격 최소값">
                      <span class="text-sub">원</span>
                    </div>
                    <span class="dash">~</span>
                    <div class="input__inner">
                      <input type="text" id="inputRange2" class="inp" title="필터 가격 최대값">
                      <span class="text-sub">원</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="accordion__item js-accordion-item">
              <button type="button" class="accordion__btn js-accordion-tab" aria-controls="accordion04" aria-expanded="false">할인 유무</button>
              <div class="accordion__content js-accordion-content" id="accordion04">
                <div class="radio-wrap">
                  <input type="radio" id="radio08" name="group03" class="inp">
                  <label for="radio08" class="label">할인 상품</label>
                </div>
                <div class="radio-wrap">
                  <input type="radio" id="radio09" name="group03" class="inp">
                  <label for="radio09" class="label">비 할인 상품</label>
                </div>
              </div>
            </li>
            <li class="accordion__item js-accordion-item">
              <button type="button" class="accordion__btn js-accordion-tab" aria-controls="accordion05" aria-expanded="false">평점</button>
              <div class="accordion__content js-accordion-content" id="accordion05">
                <div class="rating-wrap js-rating-wrap">
                  <span class="star">
                    <span class="rating js-rating" data-score="5" style="width:100%"></span>
                  </span>
                  <button type="button" class="rating-wrap__btn rating-wrap__btn--minus js-rating-btn-minus"><span class="blind">별점내리기</span></button>
                  <button type="button" class="rating-wrap__btn rating-wrap__btn--plus js-rating-btn-plus"><span class="blind">별점올리기</span></button>
                </div>
              </div>
            </li>
            <li class="accordion__item js-accordion-item">
              <button type="button" class="accordion__btn js-accordion-tab" aria-controls="accordion06" aria-expanded="false">피부 타입</button>
              <div class="accordion__content js-accordion-content" id="accordion06">
                <div class="input-option-wrap">
                  <div class="input__inner">
                    <input type="checkbox" id="input09" name="group04" class="inp">
                    <label for="input09" class="label">건성</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input10" name="group04" class="inp">
                    <label for="input10" class="label">중성</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input11" name="group04" class="inp">
                    <label for="input11" class="label">지성</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input12" name="group04" class="inp">
                    <label for="input12" class="label">복합성</label>
                  </div>
                </div>
              </div>
            </li>
            <li class="accordion__item js-accordion-item">
              <button type="button" class="accordion__btn js-accordion-tab" aria-controls="accordion07" aria-expanded="false">#Tag</button>
              <div class="accordion__content js-accordion-content" id="accordion07">
                <div class="input-option-wrap">
                  <strong class="input-option-wrap__title">성분<span class="count">(6)</span></strong>
                  <div class="input__inner">
                    <input type="checkbox" id="input13" name="group05" class="inp">
                    <label for="input13" class="label">유기농</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input14" name="group05" class="inp">
                    <label for="input14" class="label">비건</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input15" name="group05" class="inp">
                    <label for="input15" class="label">천연</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input16" name="group05" class="inp">
                    <label for="input16" class="label">친환경</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input17" name="group05" class="inp">
                    <label for="input17" class="label">cruelty free</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input18" name="group05" class="inp">
                    <label for="input18" class="label">인증</label>
                  </div>
                </div>
                <div class="input-option-wrap">
                  <strong class="input-option-wrap__title">화장품<span class="count">(10)</span></strong>
                  <div class="input__inner">
                    <input type="checkbox" id="input19" name="group06" class="inp">
                    <label for="input19" class="label">아토피</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input20" name="group06" class="inp">
                    <label for="input20" class="label">여드름</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input21" name="group06" class="inp">
                    <label for="input21" class="label">주름</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input22" name="group06" class="inp">
                    <label for="input22" class="label">탄력</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input23" name="group06" class="inp">
                    <label for="input23" class="label">미백</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input24" name="group06" class="inp">
                    <label for="input24" class="label">모공</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input25" name="group06" class="inp">
                    <label for="input25" class="label">재생</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input26" name="group06" class="inp">
                    <label for="input26" class="label">수분</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input27" name="group06" class="inp">
                    <label for="input27" class="label">화이트닝</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input28" name="group06" class="inp">
                    <label for="input28" class="label">항산화</label>
                  </div>
                </div>
                <div class="input-option-wrap">
                  <strong class="input-option-wrap__title">유아<span class="count">(6)</span></strong>
                  <div class="input__inner">
                    <input type="checkbox" id="input29" name="group07" class="inp">
                    <label for="input29" class="label">베이비</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input30" name="group07" class="inp">
                    <label for="input30" class="label">유아</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input31" name="group07" class="inp">
                    <label for="input31" class="label">유아 아토피</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input32" name="group07" class="inp">
                    <label for="input32" class="label">알러지</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input33" name="group07" class="inp">
                    <label for="input33" class="label">무향</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input34" name="group07" class="inp">
                    <label for="input34" class="label">이유식</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input35" name="group07" class="inp">
                    <label for="input35" class="label">음료</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input36" name="group07" class="inp">
                    <label for="input36" class="label">우유</label>
                  </div>
                </div>
                <div class="input-option-wrap">
                  <strong class="input-option-wrap__title">식품<span class="count">(12)</span></strong>
                  <div class="input__inner">
                    <input type="checkbox" id="input37" name="group08" class="inp">
                    <label for="input37" class="label">유제품</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input38" name="group08" class="inp">
                    <label for="input38" class="label">프로 바이오틱스</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input39" name="group08" class="inp">
                    <label for="input39" class="label">건강식품</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input40" name="group08" class="inp">
                    <label for="input40" class="label">밀키트</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input41" name="group08" class="inp">
                    <label for="input41" class="label">요리</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input42" name="group08" class="inp">
                    <label for="input42" class="label">집반찬</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input43" name="group08" class="inp">
                    <label for="input43" class="label">간편식</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input44" name="group08" class="inp">
                    <label for="input44" class="label">홈쿡</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input45" name="group08" class="inp">
                    <label for="input45" class="label">브런치</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input46" name="group08" class="inp">
                    <label for="input46" class="label">음료</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input47" name="group08" class="inp">
                    <label for="input47" class="label">해외직구</label>
                  </div>
                  <div class="input__inner">
                    <input type="checkbox" id="input48" name="group08" class="inp">
                    <label for="input48" class="label">펫푸드</label>
                  </div>
                </div>
              </div>
            </li>
            </ul>
          </fieldset>
        </form>
      </div>
      <div class="common-layer__btn-wrap">
        <div class="common-layer__util">
          <button type="reset" class="common-layer__btn"><span class="blind">선택 정보 초기화</span></button>
        </div>
        <button type="submit" class="common-layer__btn">필터 적용하기</button>
      </div>
      <div class="common-layer__box-btn-close">
        <button type="button" class="common-layer__btn-close">팝업 닫기</button>
      </div>
    </div>
  </div>
</div>
<!-- //[D] Layer popup -->

<!-- [D] toast popup
  토스트 팝업 노출 조건 : .is-show 추가,
  노출 후 3초 클래스 제거 필요.
 -->
 <div class="toast-popup">
  <span class="toast-popup__text">장바구니에 추가되었습니다.</span>
</div>
<!-- //[D] toast popup -->
@@include('./include/script.html',{"type":""})
<!-- [D] 마크업 case view. 개발 적용 시 제외 영역 -->
<script>

  var layerObj = ['#add-cart','#add-gift','#add-order','#layer-login-prompt-gift','#layer-login-prompt-order'];

  var typeBtnViewMode   = 'type2',
      btnViewMode       = 'products__control-btn--view-mode',
      productsList      = 'products__list',
      productsListTypeB = 'products__list--typeb';

  function showToastPopup() {
    $('.toast-popup').addClass('is-show');
    setTimeout(function(){
      $('.toast-popup').removeClass('is-show');
    },3000);
  }
  var modeView = function(modeType){
    if(modeType){
      $('.' + btnViewMode).addClass(typeBtnViewMode);
      $('.' + productsList).addClass(productsListTypeB);
    }else {
      $('.' + btnViewMode).removeClass(typeBtnViewMode);
      $('.' + productsList).removeClass(productsListTypeB);
    }
  };
  var showPopAlert = function(layerId) {
    var $layer = $(layerId);
    $('.common-layer').hide();
    $layer.show();
  };

  $(window).on('load', function() {
    showPopAlert();
    modeView();
  });
</script>
@@include('./include/caseview.html',{
  "item": [
    {
      "text":"view mode : typeA",
      "func": "modeView(false)"
    },
    {
      "text":"view mode : typeB",
      "func": "modeView(true)"
    },
    {
      "text":"장바구니에 추가되었습니다.",
      "func": "showToastPopup()"
    },
    {
      "text":"로그인 유도 팝업 : gift",
      "func": "showPopAlert(layerObj[3])"
    },
    {
      "text":"로그인 유도 팝업 : order",
      "func": "showPopAlert(layerObj[4])"
    },
  ]
})
<style>
  /* [D] 드롭다운 구성이 추가되면서 변경되어야할 style. 디자인 확정되면 스타일 일괄 반영 예정. */
  .products__control-btn{float:none !important;display:inline-block;vertical-align:top}
  .dropdown{display:inline-block;vertical-align:top}
</style>
<!-- //[D] 마크업 case view. 개발 적용 시 제외 영역 -->
</body>
</html>
